.root {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* background-color: rgb(18, 18, 20); */
  color: rgb(225, 225, 230);
  padding: 0.5rem 1rem;
}

h1 {
  font-size: 2rem;
}

.wrapperAgenda {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.5rem 0;
  font-size: 1.5rem;
  text-align: center;
}

.agendaData {
  border-top: 1px solid rgb(225, 225, 230);
  padding: 0.25rem 1rem;
}

.root > div:nth-child(2) .agendaData {
  border-top: 0;
}
